#development
.idea/
*.iml
.DS_Store

#composer
vendor/
composer.lock

# project
.php-cs-fixer.php
psalm.xml
grumphp.yml
.*.cache
tools/vendor
!tools/composer.lock
tests/fixtures/applepay/*
!tests/fixtures/applepay/ZipExtractor.zip