parameters:
    grumphp.ignore_patterns:
        - '*/vendor'
        - '.idea'
        - '.gitlab-ci'
        - '.github/'
        - 'tests/'
        - 'tools/'

grumphp:
    environment:
        paths:
            - 'tools/vendor/bin'
    tasks:
        git_commit_message:
            matchers:
                - /^(ASW-[0-9]*)/
            multiline: false
            max_subject_width: 80
        git_blacklist:
            keywords:
                - '__debug('
                - 'console.log('
                - 'debug_backtrace('
                - 'die('
                - 'dump('
                - 'exit;'
                - "\\bdd\\b("
            triggered_by: [php,js,tpl]
        file_size:
            max_size: 5M
        composer: ~
        phplint:
            triggered_by: ['yaml', 'yml', 'yaml.dist', 'yml.dist']
        xmllint:
            triggered_by: ['xml', 'xml.dist']
        yamllint:
            parse_custom_tags: true
        phpcsfixer:
            config: '.php-cs-fixer.dist.php'
        phpparser:
            ignore_patterns: '%grumphp.ignore_patterns%'
            visitors:
                no_exit_statements: ~
                never_use_else: ~
                forbidden_function_calls:
                    blacklist: [ echo, print, print_r, phpinfo ]
        psalm:
            config: psalm.xml.dist
            ignore_patterns: '%grumphp.ignore_patterns%'
        phpunit:
            always_execute: true
        php_compatibility:
            scripts:
                - ["-c", "php ./tools/vendor/bin/phpcs -p . --standard=PHPCompatibility --runtime-set testVersion 7.4- --extensions=php --ignore=*/vendor/*,*/tests/*"]
            metadata:
                task: shell

    testsuites:
        code-compatibility:
            tasks: ['composer', 'php_compatibility']
