<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="../../../tests/Functional/bootstrap.php">
    <testsuite name="AdyenPayment Test Suite">
        <directory>tests</directory>
    </testsuite>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <exclude>
                <directory suffix=".php">./tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
