<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="en">Adyen Shopware Plugin by Meteor</label>

    <version>0.0.1</version>
    <copyright>(c) Meteor</copyright>
    <author>Meteor</author>
    <link>https://meteor.be</link>

    <compatibility minVersion="5.3.7"/>

    <changelog version="1.0.0">
        <changes lang="en">First version</changes>
    </changelog>
</plugin>
