<?xml version="1.0"?>
<psalm xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://getpsalm.org/schema/config"
       xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
       errorLevel="3"
       useDocblockTypes="false"
       autoloader="tests/bootstrap.php"
>
    <projectFiles>
        <file name="AdyenPayment.php"/>
        <directory name="./*"/>
        <ignoreFiles>
            <directory name=".git"/>
            <directory name=".github"/>
            <directory name="vendor"/>
            <directory name="tools"/>
            <directory name="tests"/>
        </ignoreFiles>
    </projectFiles>
    <extraFiles>
        <directory name="tools/vendor/shopware/shopware/engine/*"/>
    </extraFiles>
</psalm>
