<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element type="text" scope="shop">
            <name>origin_key</name>
            <label lang="en">Origin key</label>
            <options>
                <hidden>true</hidden>
            </options>
        </element>
        <element required="true" type="select" scope="shop">
            <name>environment</name>
            <label lang="en">Environment</label>
            <store>
                <option>
                    <value>TEST</value>
                    <label lang="en">TEST</label>
                </option>
                <option>
                    <value>LIVE</value>
                    <label lang="en">LIVE</label>
                </option>
            </store>
        </element>
        <element required="true" type="text" scope="shop">
            <name>merchant_account</name>
            <label lang="en">Merchant account</label>
        </element>
        <element required="true" type="text" scope="shop">
            <name>api_key</name>
            <label lang="en">API: key</label>
        </element>
        <element type="text" scope="shop">
            <name>api_url_prefix</name>
            <label lang="en">API: URL prefix</label>
        </element>
        <element required="true" type="text" scope="shop">
            <name>notification_hmac</name>
            <label lang="en">Notification HMAC</label>
        </element>
        <element required="true" type="text" scope="shop">
            <name>notification_auth_username</name>
            <label lang="en">Notification Auth Username</label>
        </element>
        <element required="true" type="text" scope="shop">
            <name>notification_auth_password</name>
            <label lang="en">Notification Auth Password</label>
        </element>
        <element type="text" scope="shop">
            <name>google_merchant_id</name>
            <label lang="en">Google Merchant ID</label>
        </element>
        <element type="button">
            <name>testAPIconnection</name>
            <label lang="en">Test API connection</label>
            <options>
                <handler>
                    <![CDATA[
                    function () {
                        Ext.Ajax.request({
                            url: 'TestAdyenApi/run',
                            success: function (response) {
                                var value = Ext.decode(response.responseText);
                                Shopware.Msg.createGrowlMessage('success', value.responseText)
                            },
                            failure: function (response) {
                                if (response.status === 404) {
                                    Shopware.Msg.createGrowlMessage('Plugin Manager', 'Please activate plugin before testing.');
                                } else {
                                	var value = Ext.decode(response.responseText);
                                    Shopware.Msg.createGrowlMessage('failure', value.responseText)
                                }
                            }
                        });
                    }
                    ]]>
                </handler>
            </options>
        </element>
    </elements>
</config>
